
<div id={{id}} class="enjambre-section-title">
  <div class="enjambre-title-bg">
    <img class="enjambre-section-img" src="images/enjambre_bit_logo.png">
    <span>{{title}}</span>
  </div>
</div>

<section class={{class}}>

  <div class="container inner inner-{{id}}">
    {{yield}}
  </div>
</section>
