{{outlet}}

<section id="home" class="offset">
  <h1>Slider</h1>

  {{enjambre-slider}}


  \{{asdasd}}


  <hr/>
  <h1>enjambre-section</h1>
  <hr/>
  {{enjambre-section id="pepe" title="enjambre bit"}}


  <div class="simple-box">
    <div class="simple-box-title">Componente enjambre-section</div>

  {{input value=titulo}}

  {{#enjambre-section id="pepe" title=titulo}}
    CONTENIDO DEL COMPONENTE
  {{/enjambre-section}}

  </div>

  <hr/>
  <h1>markup</h1>

<section id="about" class="light-wrapper">
  <div class="section-head">
    <div class="container">
      <h1></h1>
    </div>
    <!-- /.container -->
  </div>
</section>
  <hr/>



</section>
